.class-detail-page {
    padding: 2rem;
  }
  
  .class-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  
  .class-header h2 {
    font-size: 1.8rem;
  }
  
  .class-stats {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
  }
  
  .stat-card {
    width: 468px;
    height: 228px;
    padding: 1.5rem;
    border-radius: 12px;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    color: inherit;
    transition: transform 0.2s ease;
}

.stat-card:hover {
    transform: scale(1.02);
    cursor: pointer;
  }
  
  .orange {
    background-color: #f7b267;
  }
  
  .blue {
    background-color: #a4cafe;
  }
  
  .class-main-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
  }
  
  .subjects-box h3 {
    margin-bottom: 1rem;
  }
  
  .subject-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 1rem;
  }
  
  .subject-card {
    background-color: #f8f8f8;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    text-align: center;
  }
  
  .side-info > div {
    margin-bottom: 2rem;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 10px;
  }
  
  .online-users {
    background: #fff;
    border-radius: 12px;
    padding: 1rem;
    width: 300px; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: left;
  }
  