.sidebar {
    background-color: #2f4298;
    width: 250px;
    height: 100vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0 10px 10px 0;
  }
  
  .sidebar-top-horizontal {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
  }
  
  .sidebar-logo {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-bottom: 0.5rem;
  }
  
  .sidebar-admin {
    font-weight: bold;
    font-size: 1rem;
    color: white;
  }
  
  .sidebar-nav {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .sidebar-link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: white;
    font-weight: 500;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 8px;
    transition: background-color 0.2s ease-in-out;
  }
  
  .sidebar-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .sidebar-bottom {
    margin-top: auto;
  }
  
  .sidebar-link.logout {
    color: #b0b0b0;
  }
 