/* styles/splash.css */
.splash-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(1, 186, 253, 1);
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
  
  .fade-in {
    opacity: 1;
  }
  
  .fade-out {
    opacity: 0;
  }
  
  .splash-logo {
    width: 200px;
    height: auto;
    animation: logo-fade 1s ease-in-out;
  }
  
  @keyframes logo-fade {
    from {
      transform: scale(0.95);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
  