.student-page {
    padding: 2rem;
  }
  
  .student-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    flex-wrap: wrap;
  }
  
  .header-text h1 {
    font-size: 1.8rem;
    margin-bottom: 0.3rem;
  }
  
  .header-text p {
    color: #666;
  }
  
  .header-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .search-input {
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 0.9rem;
  }
  
  .filter-dropdown {
    padding: 0.5rem;
    border-radius: 10px;
    border: 1px solid #ccc;
  }

 
  .student-empty-state {
    text-align: center;
    margin-top: 3rem;
  }
  
  .student-empty-state img {
    max-width: 300px;
    margin-bottom: 1rem;
  }
  
  .student-empty-state h2 {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .student-empty-state p {
    color: #666;
    font-size: 0.9rem;
  }
  .student-form-container {
    padding: 30px;
    font-family: sans-serif;
  }
  
  .form-title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2c3e94;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    margin-bottom: 30px;
  }
  
  .form-buttons button {
    margin-left: 10px;
    padding: 6px 16px;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .btn.cancel {
    background: #e0e0e0;
  }
  
  .btn.reset {
    background: #fff1c1;
  }
  
  .btn.save {
    background: #1e40af;
    color: #1e40af;
  }
  
  .student-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 30px;
  }
  
  .form-group {
    flex: 1;
    min-width: 280px;
    display: flex;
    flex-direction: column;
  }
  
  .form-group.full {
    flex: 1 1 100%;
  }
  
  .dob-place {
    display: flex;
    gap: 10px;
  }
  
  textarea {
    resize: none;
  }
  
  .photo-upload {
    border: 2px dashed #ccc;
    padding: 40px;
    text-align: center;
    border-radius: 6px;
    color: #888;
  }
  
  .login-title {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
  }

  .form-group input,
.form-group select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
  
.add-new-btn {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  font-size: 0.9rem;
}