.subjects-page {
    padding: 2rem;
  }
  
  .subjects-page h2 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
  }
  
  .subjects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 1.5rem;
  }
  
   .subject-card {
    background-color: #f8f8f8;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    text-align: center;
    text-decoration: none;
    color: black;
    transition: background-color 0.2s ease;
  }

  .subject-card:hover{
    background-color: #e5e5e5;
    cursor: pointer;
  }
  
  .subject-card img {
    width: 180px;
    height: 180px;
    object-fit: contain;
    margin-bottom: 1rem;
  }
  
  .subject-card p {
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none; 
    color: #000;
  }
  