.class-page {
  padding: 2rem;
  max-width: 1300px;
  margin: 0 auto;
  }
  
  .legend {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    align-items: center;
  }
  
  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
  }
  
  .dot.green { background-color: #d1fae5; }
  .dot.orange { background-color: #fde68a; }
  .dot.red { background-color: #fecaca; }
  
  .class-grid {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-auto-rows: 219px;
    gap: 1.5rem;
    justify-content: center; 
  }
  
  .class-box {
    border-radius: 12px;
    padding: 1rem 1rem 1rem 1rem;
    padding-top: 0.8rem;
    color: black;
    cursor: pointer;
    transition: transform 0.2s ease;
    background-color: #f3f4f6;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .class-box:hover {
    transform: translateY(-4px);
  }
  
  .class-box .box-header {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    margin-bottom: 0;
  }
  
  .class-box .participants {
    font-size: 1.2rem;
    font-weight: bold;
  }

  /* Responsive for tablet */
@media (max-width: 1024px) {
    .class-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  /* Responsive for mobile */
  @media (max-width: 640px) {
    .class-grid {
      grid-template-columns: 1fr;
    }
  }
  
  /* Color variations */
  .class-box.green { background-color: #d1fae5; }
  .class-box.orange { background-color: #fde68a; }
  .class-box.red { background-color: #fecaca; }

  .no-link-style {
  color: inherit !important;
  text-decoration: none !important;
  display: block;
  height: 100%;
}

.no-link-style:active, .no-link-style:visited, .no-link-style:focus {
  color: inherit !important;
  text-decoration: none !important;
}

.class-title {
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.class-year {
  font-size: 1rem;
  font-weight: 500;
}

.class-count {
  font-size: 3.4rem;
  font-weight: 700;
  margin: 10px 0 0 0;
  line-height: 1;
}

.class-footer {
  font-size: 1rem;
  font-weight: 400;
  color: #4b5563;
  margin-bottom: 2px;
  margin-top: -8px;
  letter-spacing: 0.5px;
}

.class-line {
  border-bottom: 1.5px solid #76797e;
  margin: 0 0 14px 0;
  width: 100%;
}